
// colors
$buttonBg: #061e37;
$buttoncolor: white;
$titleColor: #061e37;
$color1: #b0bec5;
$color2: #78909c;
$color3: #061e37;
$titleColor2: white;
$titleColor3: #061e37;
$paragraphColor1: #b0bec5;
$paragraphColor2: white;
$paragraphColor3: #90a4ae;
$background1: white;
$background2: #fafafa;
$background3: #061e37;
$borderColor1: #061e37;
